body{
background:#f4f4f4;
padding:0px;
margin:0px;
font-family:arial;
}
.logo{
width:100%;
text-align:center;
margin-top:18px;
}
.body-content{
width:90%;
text-align:center;
margin-left:auto;
margin-right:auto;
}
.body-title,.body-lower{
font-size:28px;
font-weight:400;
text-align:center;
margin-bottom:18px;
}
.body-imgs{
width:90%;
margin-left:auto;
margin-right:auto;
}
.body-imgs img{
width:49%;
margin-right:5px;
margin-bottom:5px;
float:left;
}
.clear{
clear:both;
}
.body-lower{
font-size:21px;
}
.bottom{
color:rgba(0,0,0,0.6);
font-size:12px;
text-align:right;
width:90%;
margin-left:auto;
margin-right:auto;
margin-bottom:18px;
}
.line{
width:100%;
height:1px;
background-color:rgba(0,0,0,0.07);
margin:18px 0px;
}