{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <img src="/images/logo1.png"/>
    <h1>Wallpaper for PCs, laptops, mobiles(android/apple) and tablets.</h1>
    <ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/register">Register</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
</div>
<div class="container-fluid">
  
  <div class="row">
    <img src="/images/1.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/2.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/3.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/4.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/5.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/6.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/7.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
	<img src="/images/8.jpg" class="col-md-3 img-fluid img-thumbnail" alt="Responsive image"/>
  </div>
  <div>&copy; 2014-2017 wallpaper-pub.com</div>


</div>
{% endblock %}